langchain==0.3.25
sentence-transformers==3.0.1
faiss-cpu==1.11.0
pypdf==3.3.0
streamlit==1.35.0
transformers==4.51.3
torch==2.7.0
langchain-community==0.3.24
langchain-openai==0.3.17
python-dotenv==1.1.0
pydantic==2.11.4
